services:
  pgdatabase:
    image: postgres:18
    environment:
      POSTGRES_USER: "root"
      POSTGRES_PASSWORD: "changeme"
      POSTGRES_DB: "postgres"
    networks:
      - repbot
    volumes:
      - database:/var/lib/postgresql/
    ports:
      - 5432:5432
    profiles:
      - default
      - app
  pgdatabase_unpersisted:
    image: postgres:18
    networks:
      - repbot
    environment:
      POSTGRES_USER: "root"
      POSTGRES_PASSWORD: "changeme"
      POSTGRES_DB: "postgres"
    ports:
      - 5432:5432
    profiles:
      - unpersisted
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - 8888:8888
    networks:
      - repbot
    profiles:
      - app
    environment:
      CJDA_INTERACTIONS_TESTMODE: true
      BOT_GRANT_ALL_SKU: true
    volumes:
      - ../config/config.json/:/app/config/config.json

volumes:
  database:

networks:
  repbot:

