version: '3.7'

services:
  app:
    image: ghcr.io/rainbowdashlabs/reputation-bot:latest
    networks:
      - repbot
    depends_on:
      - database
    volumes:
      - ./config/:/app/config/
  database:
    networks:
      - repbot
    image: postgres:17.6
    expose:
      - 5432
    volumes:
    - db_data:/var/lib/postgres/data
    environment:
      POSTGRES_USER: "root"
      POSTGRES_PASSWORD: "changeme"
      POSTGRES_DB: "repbot"

networks:
  repbot:
    name: repbot
    external: false

volumes:
  db_data:
