name: Docker Build

on:
  release:
    types:
      - published
  push:
    tags:
    branches:
      - main
      - dev

jobs:
  docker-build:
    runs-on: ubuntu-latest
    name: Deploy Docker Image

    steps:
      - name: Wait for checks to succeed
        uses: lewagon/wait-on-check-action@master
        with:
          ref: ${{ github.ref }}
          # Wait for all checks that start with "Verify" to succeed
          check-regexp: "Verify.*"
          running-workflow-name: 'Deploy Docker Image'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allowed-conclusions: success
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
      - name: Build Image
        run: docker build . --build-arg GITHUB_ACTIONS=true --build-arg GITHUB_REF_TYPE=${{ github.ref_type }} --build-arg GITHUB_REF_NAME=${{ github.ref_name }} --build-arg GITHUB_SHA=${{ github.sha }} -f docker/Dockerfile -t ghcr.io/rainbowdashlabs/reputation-bot:${{ github.sha }}
      - name: Login to Registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login -u $ --password-stdin ghcr.io
      - name: Push image
        run: |
          docker push ghcr.io/rainbowdashlabs/reputation-bot:${{ github.sha }}
      - name: Tag & Push branch image
        run: |
          docker image tag ghcr.io/rainbowdashlabs/reputation-bot:${{ github.sha }} ghcr.io/rainbowdashlabs/reputation-bot:${{ github.ref_name }}
          docker push ghcr.io/rainbowdashlabs/reputation-bot:${{ github.ref_name }}
      - name: Tag & Push latest image
        if: github.ref_name == 'main'
        run: |
          docker image tag ghcr.io/rainbowdashlabs/reputation-bot:${{ github.sha }} ghcr.io/rainbowdashlabs/reputation-bot:latest
          docker push ghcr.io/rainbowdashlabs/reputation-bot:latest
