name: docs

on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - run: echo "repbot.docs.chojo.dev" > ./docs/CNAME
      - run: pip install pipenv && pipenv install && pipenv run mkdocs gh-deploy --force
