name: Verify

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Gradle build

    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK 19
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 19
      - name: Build with Gradle
        run: ./gradlew --build-cache build
      - name: Test with Gradle
        run: ./gradlew test --info

  build-docker:
    runs-on: ubuntu-latest
    name: Docker build

    steps:
      - uses: actions/checkout@v4
      - name: Build as Docker image
        run: docker build . -f docker/Dockerfile

  enforce-encoding:
    runs-on: ubuntu-latest
    name: Encoding check

    steps:
      - uses: actions/checkout@v4
      - name: Remove allowed us-ascii files before check
        run: rm src/main/resources/locale.properties src/main/resources/locale_en_US.properties # This needs improvement
      - name: Check UTF-8 for resource bundles
        run: |
          find src/main/resources/locale* -type f -exec file --mime {} \; | grep -v charset=utf-8 && NOT_UTF_FOUND=1 || true
          [[ \"$NOT_UTF_FOUND\" == \"1\" ]] && exit 1 || true

  verify-docs:
    runs-on: ubuntu-latest
    name: Docs build

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - run: pip install pipenv && pipenv install && pipenv run mkdocs build
